*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

header{
    background:#A5896F;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    text-align:center;
    padding:50px;
    background:#F2F0EA;
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#A0D4E0;
    cursor:pointer;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:30px;
}

.card{
    background:#f4f4f4;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

footer{
    background:#A5896F;
    color:white;
    text-align:center;
    padding:15px;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

.cards{
    grid-template-columns:1fr;
}

}